    /* Titlebar */
  div[class*="typeWindows-"]::after {
    content: 'Clearvision - by Ranger';
    font-weight: 5000;
    line-height: 31px;
    color: var(--text-muted);
    font-family: Discord;
    font-size: 15px;
    position: absolute;
    padding: 0 9px;
    top: -4.5px;
    left: 0;
    width: 100%;
    height: 30px;
    background: rgba(var(--black), 0.85);
    z-index: -1;
  }
  .typeWindows-1za-n7 > .wordmark-2iDDfm{
    opacity: 0;
  }
